#{extends 'main.html' /}
#{set title:messages.get('Products') /}

&{'Products'} | <a href="@{Categories.index()}">&{'Categories'}</a>

#{if flash.success}
    <div class="alert alert-success">${flash.success}</div>
#{/if}

<h3>&{'Products'}</h3>

<a href="@{Products.newProduct()}">&{'new.product'}</a>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>&{'Name'}</th>
            <th>&{'Price'}</th>
            <th>&{'Category'}</th>
            <th>&{'Actions'}</th>
        </tr>
    </thead>
    <tbody>
        #{paginate.list items:paginator, as:'product'}
            <tr>
                <td>${product.name}</td>
                <td>${product.price}</td>
                <td>${product.category}</td>
                <td>
                    <a href="@{Products.edit(product.id)}">&{'Edit'}</a> |

                    #{form @Products.delete(product.id)}
                        <input type="submit" value="&{'Delete'}" class="btn btn-link delete-button delete-product-button" />
                    #{/form}
                </td>
            </tr>
        #{/paginate.list}
    </tbody>
</table>

#{paginate.controls items:paginator /}
